.flightRouteFirstDiv{
    width: 10em;
}
.flightRouteContainer {
  margin: 1rem 0;
  width: 100%;
}

.circle {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  background-color:rgba(255, 191, 0, 1); 
  border: .125em solid rgba(255, 191, 0, 1); 
  z-index: 1; 
}

.line {
  flex-grow: 1;
  height: .125em;
  background-color: rgba(255, 191, 0, 1); 
  margin: 0 .0625em;
}