:root {
  --primary-color: rgba(26, 26, 26, 1);
  --primary-color-text: rgba(255, 255, 255, 1);
  --secondary-color-text: rgba(224, 224, 224, 1);
  --font-size-principal: .75em;
  --font-size-secondary: 1em;
}
html,
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  font-weight: 400;

}
nav {
  margin-top: .6em;
  display: flex;
  flex-direction: column;
  align-items: center;


}
main{
  margin: 1em 0;
}

p {
  margin: 0;
  font-size: var(--font-size-principal);
}